<% if flash[:notice] %>
	<div id="notice" class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>

<% if @banner_position.errors.full_messages.any? %>
	<div id="notice" class="alert alert-danger">
  <% @banner_position.errors.full_messages.each do |error_message| %>
    <%= error_message
		%> <br />
  <% end %>
	</div>
<% end %>

<div class="row">
  <%= form_for(@banner_position) do |f| %>
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, :class =>"form-control" %>
    </div>
  
    <div class="form-group">
      <%= f.label :parent_id %><br>
      <%= f.select(:parent_id, options_for_select([["페이지 등록", 0]] + @parent_position.collect {|c| [c.name, c.id]}), {}, {:class=>"form-control"}) %>
    </div>
  
    <div class="form-group">
      <%= link_to '목록으로', banner_positions_path, :class=>"btn btn-default" %>   
      <%= f.submit :class =>"btn btn-default" %>
    </div>

  <% end %>
</div>
